/* variables */
:root {
  --colour1: #EC8D3B;
  --colour2: #0e402d;
  --colour3: #ffffff;
  --colour4: #000000;
  --colour5: #c5ccd1;
  --colour6: #fffaf4;
}

/* base styles */

body {
  overflow-x: hidden;
  background: var(--colour3);
  margin: 0%;
  /*height: 100%;*/

}

h1 {
  color: var(--colour2);
 font-size: 50px;
 font-family: 'Poppins', sans-serif;
 font-weight: bold;
}

h2 {
  color: var(--colour2);
  font-size: 42px;
  font-weight: medium;
  font-family: 'Poppins', sans-serif;
}

h3 {
  color: var(--colour2);
  font-size: 32px;
  font-weight: medium;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  line-height: 159.5%;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}


.logo {
max-width: 100%;
height: auto;
image-resolution: 300dpi;
}

.header {
    position: relative;
    height: 100%;
}

.nav {
    width: 95%;
    margin: 0px;
    display: flex;
    position: relative;
    top: 0px;
    justify-content: space-between;
    left: 50%;
    /* /*top: 0.8rem;* */
    transform: translateX(-50%);
    z-index: 1;
    background-color: var(--colour3);
    

    /*width: 100%;
    height: 75px;
    background-color: var(--colour3);
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
}

.nav .logo {
float: left;
padding-bottom: 25px;

}

.nav ul {
  float: right;
}

.nav ul li {
  display: inline-block;
  list-style: none;
}

.nav ul li a {
  color: var(--colour4);
  text-decoration: none;
  font-size: 16px;
  padding: 0px 25px;
}

.nav ul li a:hover {
  color: var(--colour1);
}*/
}
.nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
        position: static;
        transform: translateX(0);
        background-color: transparent;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        
        
    }

.nav-link {
        color: black; 
}

.nav-link:hover {
    color: var(--colour1);
    transition: 0.15s;
}

.item {
  padding: 0px;
}

#download-item {
    margin-top: 8px;
    margin-bottom: 10px;
}

#download-app {
    background-color: var(--colour1);
    color: var(--colour3);
    padding: 16px 25px;
    border-radius: 35px;
}

#download-app:hover {
    color: var(--colour3);
    background-color: var(--colour5);
   
}

.hero {

  background-color: var(--colour6);
  width: 100%;  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

.grid .bg {
  grid-template-columns: 1/6;
}

.grid .welcome-img {
 align-items: center;
 grid-template-columns: 6/13;
  
}

.grid .welcome-img img {
height: 90%;
width: 80%;
}

.welcome-text {
  padding-top: 5%;
  text-align: left;
  padding-left: 10%;
  padding-right: 30%;
  margin-bottom: 10px;
  position: absolute;
}

.button2 {
  background: var(--colour1);
  border: none;
  color: var(--colour3);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  width: 300px;
  font-family: 'Poppins', sans-serif;
}

.button2:hover {
  color: var(--colour3);
  background: var(--colour5);
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
padding-top: 5%;
padding-left: 5%;
padding-bottom: 5%;
padding-right: 5%;
}

.grid2 .about-img img {
  grid-template-columns: 1/6;
  width: 685px;
  height: 654px;
}

.grid2 .leading2 {
  grid-template-columns: 6/13;
 padding-left: 3%; 
}

#whatWeOffer {
  background-color: var(--colour6);
  position: relative;
  z-index: 1;
}

.bg2 {
  position: absolute;
  top: 0%;
  left: 0px;
  z-index: -1;
}

.bg3 {
  position: absolute;
  bottom: 0%;
  right: 0px;
  z-index: 2;
}

#whatWeOffer h2 {
  text-align: center;
  padding-top: 2%;
}
 .grid3 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   gap: 5%; 
   padding-right: 10%;
   padding-left: 10%;
  }

 .grid3 div {
   background-color: hsl(0, 0%, 100%);
   align-items: center;
   border-style:groove;
   border-width: 0.5px;
   border-radius: 20px;
   text-align: center;
   padding: 3%;
   height: 460px;
 }

 .grid3 .img1 {
  width: 147px;
  height: 210.13px;
}

.grid3 .img2 {
  width: 305.89px;
  height: 258px;
}

 .grid3 .img3 {
   width: 209px;
   height: 197.11px;
 }

.info {
text-align: left;
margin-top: 5%;
margin-left: 0%;
 }

  .privacy {
  display: grid;
  grid-template-columns: auto auto;
  padding-right: 15%;
  padding-left: 10%;
  
  }

  

 .privacyLink{
   text-decoration: underline;
 }

 .privacyLink a {
   color: var(--colour1);
 }
 
 .privacyLink a:hover {
   color: var(--colour5);
 }
 

 #resources {
   align-items: center;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 2%;
   text-align: center;
 }

 .grid4 {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 padding-top: 2%;
 }

 /*#contact {
  padding-left: 10%;
  padding-right: 10%;
 }

 #contact h2 {
  padding-top: 2%;
  text-align: center;
 }

 .contdiv {
   display: grid;
   grid-template-columns: auto auto;
   gap: 10%
 }

 
 .item7 {
   display: flex;
   
 }


 .contdiv img{
   width: 50px;
   height: 50px;
   padding: 3%;
 }

 .contdiv p {
   padding: 1%;
 }
 
 .button3 {
  background: var(--colour2);
  border: none;
  color: var(--colour3);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  width: 300px;
  font-family: 'Poppins', sans-serif;
  margin-top: 2%;
}

.button3:hover {
  color: var(--colour2);
  background: var(--colour5);
}

input,textarea {
padding: 10px 16px;
border-radius: 10px;
border: 1px solid #0e402d;
padding: 3%
}*/


#download {
  height: auto;
  background-color: var(--colour6)
}

.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10%;
  
  
}

.item14 img {
  max-width: 100%;
max-height: 80%;


}
.item15 ul{
  padding: 0; 
  padding-bottom: 5%;
  
}

.item15 img {
  height: 30px;
  width: 30px;
  padding: 1%;
}

.item15 li {
  display: flex;
  text-align: left;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 2%;
  align-items: flex-start;
}






/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablets & laptops styles */
@media screen and (min-width: 1200px) {

}

/* desktop styles */
@media screen and (min-width: 1200px) {

}
