/* variables */
:root {
  --colour1: #EC8D3B;
  --colour2: #0e402d;
  --colour3: #ffffff;
  --colour4: #000000;
  --colour5: #c5ccd1;
  --colour6: #fffaf4;
}

/* base styles */

body {
  overflow-x: hidden;
  background: var(--colour3);
  margin: 0%;
  /*height: 100%;*/
}


h1 {
  color: var(--colour2);
 font-size: 50px;
 font-family: 'Poppins', sans-serif;
 font-weight: bold;
}

h2 {
  color: var(--colour2);
  font-size: 42px;
  font-weight: medium;
  font-family: 'Poppins', sans-serif;
}


h3 {
  color: var(--colour2);
  font-size: 32px;
  font-weight: medium;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  line-height: 159.5%;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}


.logo {
max-width: 100%;
height: auto;
image-resolution: 300dpi;
}

.header {
    position: relative;
    height: 100%;
}

.nav {
    width: 100%;
    margin: 0px;
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    left: 50%;
    /* /*top: 0.8rem;* */
    transform: translateX(-50%);
    z-index: 1;
    background-color: var(--colour3);
    

    /*width: 100%;
    height: 75px;
    background-color: var(--colour3);
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
}

.nav .logo {
float: left;
padding-bottom: 25px;

}

.nav ul {
  float: right;
}

.nav ul li {
  display: inline-block;
  list-style: none;
}

.nav ul li a {
  color: var(--colour4);
  text-decoration: none;
  font-size: 16px;
  padding: 0px 25px;
}

.nav ul li a:hover {
  color: var(--colour1);
}*/
}

.nav .icon {
  display: none;
}
.nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
        position: static;
        transform: translateX(0);
        background-color: transparent;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        
        
    }

.nav-link {
        color: black; 
}

.nav-link:hover {
    color: var(--colour1);
    transition: 0.15s;
}

.item {
  padding: 0px;
}

#download-item {
    margin-top: 8px;
    margin-bottom: 10px;
}

#download-app {
    background-color: var(--colour1);
    color: var(--colour3);
    padding: 16px 25px;
    border-radius: 35px;
}

#download-app:hover {
    color: var(--colour3);
    background-color: var(--colour5);
   
}

.hamburger {
  padding-top: 5%;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hero {
  background-color: var(--colour6);
 
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

.grid .bg {
  grid-template-columns: 1/6;
}

.grid .welcome-img {
 align-items: center;
 grid-template-columns: 6/13;
  
}

.grid .welcome-img img {
height: 90%;
width: 80%;
}

.welcome-text {
  padding-top: 5%;
  text-align: left;
  padding-left: 10%;
  padding-right: 30%;
  margin-bottom: 10px;
  position: absolute;
}

.button2 {
  background: var(--colour1);
  border: none;
  color: var(--colour3);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  width: 300px;
  font-family: 'Poppins', sans-serif;
}

.button2:hover {
  color: var(--colour3);
  background: var(--colour5);
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
padding-top: 5%;
padding-left: 5%;
padding-bottom: 5%;
padding-right: 5%;

}


.grid2 .leading2 {
 
 padding-left: 3%; 
}

#whatWeOffer {
  background-color: var(--colour6);
  position: relative;
  
}

.bg2 {
  position: absolute;
  height: 500px;
  top: 0%;
  left: 0px;
  z-index: -1;
}

.bg3 {
  position: absolute;
  height: 510px;
  top: 0%;
  right: 0px;
  z-index: -1;
}

#whatWeOffer h2 {
  text-align: center;
  padding-top: 2%;
  z-index: 1;
}
 .grid3 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   gap: 5%; 
   padding-right: 10%;
   padding-left: 10%;
  }

 .grid3 div {
   background-color: hsl(0, 0%, 100%);
   align-items: center;
   border-style:groove;
   border-width: 0.5px;
   border-radius: 20px;
   text-align: center;
   padding: 3%;
   height: 460px;
 }

 .grid3 .img1 {
  margin-top: 40px;
  width: 147px;
  height: 210.13px;
  padding-bottom: 10px;
}

.grid3 .img2 {
  width: 305.89px;
  height: 258px;
}

.receive{
     padding-left: 10px;
     padding-right: 10px;
     
  }

 .grid3 .img3 {
   margin-top: 40px;
   width: 209px;
   height: 197.11px;
   padding-bottom: 20px;
 }

.info {
text-align: left;
margin-top: 5%;
margin-left: 0%;
 }

  .privacy {
  display: grid;
  grid-template-columns: auto auto;
  padding-right: 15%;
  padding-left: 10%;
  }

  

 .privacyLink{
   text-decoration: underline;
 }

 .privacyLink a {
   color: var(--colour1);
 }
 
 .privacyLink a:hover {
   color: var(--colour5);
 }
 

 #resources {
   align-items: center;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 2%;
   text-align: center;
 }

 .grid4 {
 display: grid;
 grid-template-columns: auto auto auto;
 padding-top: 2%;
 gap: 2%;
 }

 .grid4 div {
   text-align: center;
 }

 


 /*#contact {
  padding-left: 10%;
  padding-right: 10%;
 }

 #contact h2 {
  padding-top: 2%;
  text-align: center;
 }

 .contdiv {
   display: grid;
   grid-template-columns: auto auto;
   gap: 10%
 }

 
 .item7 {
   display: flex;
   
 }


 .contdiv img{
   width: 50px;
   height: 50px;
   padding: 3%;
 }

 .contdiv p {
   padding: 1%;
 }
 
 .button3 {
  background: var(--colour2);
  border: none;
  color: var(--colour3);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  width: 300px;
  font-family: 'Poppins', sans-serif;
  margin-top: 2%;
}

.button3:hover {
  color: var(--colour2);
  background: var(--colour5);
}

input,textarea {
padding: 10px 16px;
border-radius: 10px;
border: 1px solid #0e402d;
padding: 3%
}*/


#download {
  height: auto;
  background-color: var(--colour6)
}

.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10%;
  
  
}

.item14 img {
  max-width: 100%;
max-height: 80%;


}
.item15 ul{
  padding: 0; 
  padding-bottom: 5%;
}

.item15 img {
  height: 30px;
  width: 30px;
  padding: 1%;
}


.item15 li {
  display: flex;
  text-align: left;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 2%;
  align-items: flex-start;
}

.footer{
    height: 200px;
    width: 100%;
    margin: 0px 0px; 
  }
  
  .footer-top {
    background-color: var(--colour2);
    color: var(--colour3);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    position: relative;
    left: 50%;
    justify-content: space-evenly;
    transform: translateX(-50%);
    padding: 50px 20px 0px 0px;
    margin-bottom: 0px;
    
  }
  
  .footer-img{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 60px;
    
   
  }
  
  .footer-logo{
    width: 200px;
    height: 60%;
    padding-left: 20px;
    image-resolution: 300dpi;
    cursor: pointer;
    z-index: 2;
    margin-top: -20px;
    
  }
    
  .socials{
    padding: 10px 10px 50px 10px;
    left: 20%;
    align-content: center;
    image-resolution: 500dpi;
    width: 10%;
    margin-left: 25px;
    margin-top: 0px;
  }
  
  .footer-link{
      color:var(--colour3);
      align-items: center;
      justify-content: space-between;
      position: static;
      transform: translateX(0);
      background-color: transparent;
      padding: 0;
    }
  
  .footer-link:hover{
    color: var(--colour1);
  }
  
  .privacy{
    white-space: nowrap;
    
 }
  .social{
    padding: 0px 20px 0px 0px;
  }
  .email{
    padding: 10px;
  }
  
  .footer-bottom{
    position: relative;
    z-index: 3;
    align-content: center;
    margin-top: -80px;
    
   
  }
  
  .footer-bottom p {
    text-align: center;
    font-size: 16px;
    color: var(--colour3);
  }
  
  .footer-bottom hr{
    width:80%
  }
  




/* desktop styles */
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1171px){

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 38px;
  }

  p {
    font-size: 20px;
  }

  .item15 li {
    font-size: 20px;
  }
}

@media screen and (max-width: 1062px) {
   #download-app{
    margin-right: 10px;
  }
  .grid3 .img3 {
width: 85%;
height: 45%;
  }
.grid4 div img{
  width: 95%;
  height: 70%;
}
}
/* large tablets & laptops styles */
@media screen and (max-width: 1024px) {

p{
  font-size: 18px;
}
.nav {
  width: 90%;
}

 #welcome{
  margin-top: 70px;
  margin-right: -60px;
}

#about{
  margin-right: -60px;
}

#whatWeOffer{
  margin-right: -60px;
}

#resources{
  margin-right: -60px;
}

#download{
  margin-right: -60px;
}
  
.button2 {
  width: 50%;
}

.nav-links {
  font-size: 15px;
}

.welcome-text {
  padding-top: 2%;
}

 h1 {
  font-size: 30px;
 }

.leading2 {
  padding-left: 5%;
  padding-right: 0%;
 
}

.about-img img {
  width: 90%;
  height: 80%;
  padding-left: 10%;
}

.bg3 {
  z-index: -1;
}



.grid3 {
  padding-left: 5%;
  padding-right: 5%;
}

  
 

.grid5 {
  padding-bottom: 0%;
}

.item15 li {
  font-size: 20px;
}

.item15 img {
  height: 20px;
  width: 20px;
}
.footer a {
  font-size: 12px;
}

.footer {
  padding-left: 40px;
  padding-right: -10px;
}
 .footer-top {
  padding-right: 60px;

}   
}



@media screen and (max-width: 1000px){

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 38px;
  }

  p {
    font-size: 20px;
  }

  .item15 li {
    font-size: 20px;
  }
}

@media screen and (max-width: 954px){
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }

  h3 {
    font-size: 28px;
  }
  .button2 {
    width: 60%;
    font-size: 15px;
  }

  .grid3 .img1 {
    width: 35%;
    height: 30%;
  }

  .grid3 .img2 {
    width: 85%;
    height: 45%;
  }

  .grid3 .img3 {
    width: 45%;
    height: 35%;
  }

  .grid3 div {
    height: 100%;
  }

  .privacy {
    padding-bottom: 0%;
  }

  .privacy img {
    height: 70%;
  }

  .bg3 {
    height: 50%;
    padding-bottom: 10%;
  }

}



/* small tablet styles */
@media screen and (max-width: 837px) {
  .nav-links {
    position: fixed;
    left: -200%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
        padding: 3%;
}

.nav-links.active {
    left: 0;
}

.item {
    margin: 2.5rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 40px;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


  
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }
  
  
  .button2 {
    width: 70%;
  
  }
  .about-img img{
      width: 90%;
      height: 70%;
  }

  .about-img {
    text-align: center;
    padding-top: 30%;
    padding-right: 5%;
  }

  .grid3 {
    gap: 2%; 

   }
 
  .grid3 div {
    padding: 3%;
    height: 90%;
    width: 90%;
  }
 
  .grid3 .img1 {
   margin-top: 30px;
   width: 40%;
   height: 40%;
   padding-bottom: 8px;
 }
 
 .grid3 .img2 {
  width: 80%;
  height: 50%;
 }
 
  .grid3 .img3 {
    margin-top: 30px;
    width: 50%;
    height: 40%;
    padding-bottom: 20px;
  }

  .info {
    text-align: left;
    margin-top: 10%;
    
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .privacy {
    padding-left: 5%;
    }

  .privacy div img {
    width: 150%;
    height: 100%
  }

  .item15 li {
    font-size: 18px;
  }
  
  .footer {
  padding-left: 44px;
  margin-left: -13px;
  margin-right: -20px;
  
}

  .footer-top{
    font-size: 12px;
  }

  .social{
    width: 20px;
  }
  .footer-bottom p {
    font-size: 12px;
  }


}

@media screen and (max-width: 720px) {
h1 {
  font-size: 28px;
}

p {
  font-size: 15px;
}

.button2 {
  font-size: 15px;
  width: 50%;
}

.item15 li {
  font-size: 15px;
}

.footer-top{
  display: block;
  padding-bottom: 10%;
}

.footer-top br {
  display: none;
}

.footer li a {
  font-size: 15px;
}

.footer-img {
  width: 50%;
  height: 50%;
  padding-bottom: 0%;
}
}


@media screen and (max-width: 673px) {
h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

.grid3 div {
  padding: 5%;
}

.footer li a {
  font-size: 10px;
}
}

@media screen and (max-width: 630px) {
  .grid3 div {
  height: 100%;
  }
  
  .grid5 {
    padding-bottom: 5%;
  }
  
  h1 {
    font-size: 25px;
  }

  .button2 {
    width: 50%;
    font-size: 12px;
  }
  }

  @media screen and (max-width: 610px) {
h1 {
  font-size: 20px;;
}
  }
/* mobile styles */
@media screen and (max-width: 598px) {
  
 
  h1 {
    font-size: 30px;
  }
 
  p {
    font-size: 20px;
  }
  .grid {
    grid-template-columns: auto;
    
  }
 
  .welcome-text {
   text-align: center;
   padding-right: 5%;
   padding-right: 5%;
   position: relative;
   padding-top: 5%;
 }
 
 .welcome-img {
   padding-left: 20%;
   
 }
 
 .button2 {
   font-size: 15px;
 }
 
 
 .grid2 {
   grid-template-columns: auto;
   align-items: center;
 }
 
 .about-img {
   display: none;
   visibility: hidden;
 }
 
 
 .leading2 {
   text-align: center;
   padding: 5%;
 }
 
 h2 {
   font-size: 28px;
 }
 .grid3 {
   grid-template-columns: auto;
   padding-top: 5%;
   padding-left: 20%;
   padding-right: 20%;
   gap: 5%;
   padding-bottom: 30%;
 }
 
 .grid3 div {
   width: 100%;
   height: 100%;
  padding: 2%
 }
 
 .grid3 .img1 {
   width: 45%;
   height: 50%;
 }
 
 .grid3 .img2 {
   width: 100%;
   height: 70%;
 }
 
 .grid3 .img3 {
   width: 45%;
   height: 40%;
 }
 
 .privacy {
   grid-template-columns: auto;
   text-align: center;
 }

 .privacy img {
   display: none;
   visibility: hidden;
 }
 
 .grid4 {
   grid-template-columns: auto;
   padding: 10%;
 }

 .grid4 img {
   height: 40%;
 }
 
 
 
 .grid5 {
   grid-template-columns: auto;
   
 }
 
 .grid5 div {
   text-align: center;
 }
 
 .item14 {
   padding-top: 3%;
 }
 
 .item15 {
   text-align: center;
   padding-right: 10%;
   padding-left: 10%;
   padding-bottom: 10%;
 }
 
 h3 {
   font-size: 25px;
 }
 
 .item15 li {
   text-align: center;
 }
 
 .footer-top {
   display: block;
   padding-bottom: 15%;
   
 }
 
 
 .footer a {
   font-size: 15px;
 }
 
 .footer-bottom p{
   font-size: 20px;
 }
}
@media screen and (max-width: 542px) {

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }

  h2 {
    font-size: 23px;
  }

  .grid3 div {
    width: 90%;
    height: 100%;
    margin: 5%;
  }

  .grid3 .img1 {
height: 40%;
width: 40%;
  }

  .grid3 .img2 {
    height: 50%;
      }

      .grid3 .img3 {
        height: 40%;
          }

  .grid4 div img {
    height: 70%;
    width: 70%;
  }

  #whatWeOffer h2 {
    padding-bottom: 5%;
  }

  .info {
    margin-top:10%;
    margin-bottom: 0%;
  }

  #resources {
    padding-top: 5%;
  }

}

@media screen and (max-width: 482px) {

p {
  font-size: 16px;
}

.footer-bottom p{
  font-size: 15px;
}
}

@media screen and (max-width: 435px) {
h1 {
  font-size: 20px;
}
  p {
    font-size: 12px;
  }

  .button2 {
    font-size: 12px;
    width: 50%;
    padding: 3%;
  }

  h2 {
   font-size: 18px;
  }
  h3 {
    font-size: 17px;
  }

  .footer-bottom p{
    font-size: 12px;
  }
  }

  @media screen and (max-width: 346px) {
  h1 {
    font-size: 18px;
  }

  .item15 li {
    font-size: 12px;
  }
  }
