/* variables */
:root {
  --colour1: #ec8d3b;
  --colour2: #699482;
  --colour3: #ffffff;
  --colour4: #ff8458;
  --colour5: #c5ccd1;
}

/* base styles */
body {
  overflow-x: hidden;
  background: var(--colour3);
  margin: 0%;
  height: 100%;

}



p {
  font-size: larger;
  font-family: poppins;
  word-spacing: 2.0ch;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.logo {
max-width: 100%;
height: auto;
image-resolution: 300dpi;
}

.header {
    position: relative;
    height: 100%;
}

.nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    position: absolute;
    justify-content: space-between;
    left: 50%;
    top: 0.8rem;
    transform: translateX(-50%);
    z-index: 999;
    background-color: var(--colour3);
}

.nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        position: static;
        transform: translateX(0);
        background-color: transparent;
        padding: 0;
    }

.nav-link {
        color: black; 
}

.nav-link:hover {
    color: var(--colour4);
    transition: 0.15s;
}

.item {
    padding: 0;
}

#download-item {
    margin-top: 8px;
    margin-bottom: 16px;
}

#download-app {
    background-color: var(--colour1);
    color: var(--colour3);
    padding: 16px 25px;
    border-radius: 32px;
}

#download-app:hover {
    color: var(--colour3);
    background-color: var(--colour5);
   
}


.button:hover {
  color: var(--colour3);
  background: var(--colour5);
}

.hero {
  
  background-color: #fffaf4;
  height:50%;
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid .bg {
  grid-template-columns: 1/6;
}

.grid .welcome-img {
 align-items: center;
 grid-template-columns: 6/13;
  
}

.grid .welcome-img img {
height: 100%;
width: 90%;
}

.welcome-text {
  padding-top: 20%;
  text-align: left;
  padding-left: 10%;
  padding-right: 30%;
  position: absolute;
}

/*.welcome-text .leading {
  padding-top: 30%;
  text-align: left;
  grid-column: 1/6;
}*/

.hero .leading p {
  font-size: larger;
  font-family: 'Poppins Light';
  word-spacing: 2.0ch;
  padding: 10%
}

.leading .store-btns {
  display: grid;
  width: 50%;
  height: 30%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.leading .store-btns .img1 {
  width: 90%;
  height: 30%;
}

.leading .store-btns .img2 {
  width: 80%;
  height: 70%;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
padding-top: 10%;
padding-left: 10%;
padding-bottom: 5%;
padding-right: 3%;
}

.grid2 .about-img {
  grid-template-columns: 1/6;
  align-items: center;
  height: 100%;
}

.grid2 .leading2 {
  grid-template-columns: 6/13;
  padding: 10%;
  
}

.button2 {
  background: var(--colour1);
  color: var(--colour3);
  padding: 3%;
  border-radius: 20px;
  display: inline-block;
  height: 20%;
  width: 30%;
}
/* fonts */
@font-face {
  font-family: 'Poppins Light';
  src: url('..\Assets\fonts\Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('..\Assets\fonts\Poppins-Medium.ttf');
}

h1,h2,h3,h4 {
  color: var(--colour2);
}
 h1 {
font-size: 1.2em;
 }
/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablets & laptops styles */
@media screen and (min-width: 1200px) {

}

/* desktop styles */
@media screen and (min-width: 1200px) {

}
