$white: #ffffff;
$black: #000000;
$orange: #df6f14;
$green: #516d61;
$tab: 985px;
$tablet1: 896px;
$tablet2: 768px;
$tablet3: 699px;
$phone1: 590px;
$phone: 425px;

@mixin tab {
    @media (max-width: #{$tab}) {
        @content;
    }

}

@mixin tablet1 {
    @media (max-width: #{$tablet1}) {
        @content;
    }

}

@mixin tablet2 {
    @media (max-width: #{$tablet2}) {
        @content;
    }

}

@mixin tablet3 {
    @media (max-width: #{$tablet3}) {
        @content;
    }

}

@mixin phone1 {
    @media (max-width: #{$phone1}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$phone}) {
        @content;
    }
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        font-family: 'Poppins' , sans-serif;
        background-color: $white;
        width: 100%;
    
        header {
            .logo {
                height:auto;
                //width: 170px;
                // position: absolute;
                width: 10%;
                height: 10%;

                @include tablet1 {
                    width: 100px;
                    image-resolution: 300dpi;
                }
            }
            
            .navbar {
                @include displayAlign;
                justify-content: center;
                justify-content: space-between;
                padding: 1rem 1.5rem; 

                
                .nav-menu {
                    @include displayAlign;
                    justify-content: space-between;

                    .nav-item {
                        margin-left: 40px;
                        list-style-type: none;

                        .nav-link {
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 600;
                            color: $black;
                            transition: 0.3s ease;
                        }
                        
                        .nav-link:hover {
                            color: $green;
                        }
                    }

                    #download-item {
                        margin-top: 8px;
                        margin-bottom: 10px;
                    }
                    
                    #download-app {
                        background-color: $green;
                        color: $white;
                        padding: 16px 25px;
                        border-radius: 35px;
                    }
                }
                
                .hamburger {
                    display: none;
                    
                    @include tablet1 {
                        display: block;
                        cursor: pointer;
                    }
                    
                    .bar {
                        display: block;
                        width: 25px;
                        height: 3px;
                        margin: 5px auto;
                        -webkit-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        background-color: #1a1a1a;
                    
                    }
    
                }
            }
            
        }
        
       #sect-1 {
           .together {
            width: 100%;
            max-width: 1369px;
            min-width: 20px;
            height: 74vh;
           }
       } 

        include tab {
            #download-app {
                font-size: 12px;
            }
        }
       
       @include tablet1{
            .navbar {
               
                .nav-menu {
                    position: fixed;
                    left: -100%;
                    top: 7rem;
                    flex-direction: column;
                    background-color: $white;
                    width: 100%;
                    border-radius: 10px;
                    text-align: center;
                    transition: 0.3s;
                    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
                }

                .nav-menu.active {
                    left: 0;
                }

                .nav-item {
                    margin: 2.0rem 0;
                }

                #download-item {
                    padding: 30px 0px 40px 0px;
                }

                #download-app{
                    font-size: 16px;
                }
                
                .hamburger.active .bar:nth-child(2) {
                    opacity: 0;
                    }
        
                .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
                }

                .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
                }
            }  
        }
    }
}
