body {
  background-color: #ffffff;
  margin: 0%;
  height: 100%;
  /***** Form ******/
  /**** Circles ****/
  /**** Social Media Icons ****/
}

body .logo {
  position: absolute;
  top: 0px;
  left: 10px;
  bottom: 530px;
  right: 400px;
  width: 10%;
  height: 20%;
}

@media (max-width: 896px) {
  body .logo {
    height: 18%;
  }
}

@media (max-width: 768px) {
  body .logo {
    height: 15%;
  }
}

@media (max-width: 699px) {
  body .logo {
    height: 12%;
  }
}

@media (max-width: 425px) {
  body .logo {
    height: 11%;
    width: 12%;
  }
}

body #introducing {
  padding-top: 50px;
  padding-bottom: 0%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 425px) {
  body #introducing .launch {
    padding-top: 8px;
  }
}

body #introducing .launch h1 {
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 600;
}

body #introducing .launch p {
  font-size: 14px;
  color: #516d61;
  font-weight: 500;
  margin: 30px 0px;
}

@media (max-width: 896px) {
  body #introducing .launch h1 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  body #introducing .launch h1 {
    font-size: 18px;
  }
  body #introducing .launch p {
    font-size: 12px;
  }
}

@media (max-width: 699px) {
  body #introducing .launch h1 {
    font-size: 15px;
  }
  body #introducing .launch p {
    font-size: 11px;
  }
}

@media (max-width: 425px) {
  body #introducing .launch h1 {
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 0;
  }
  body #introducing .launch p {
    font-size: 9px;
    padding-bottom: 0;
  }
  body #introducing .launch #soon {
    margin-top: 0;
  }
}

body #introducing .launch-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*@include phone {
                margin-right: 20%;
                margin-left: 10%;
                width: 200px;
                padding: 0px;

            }*/
}

body #introducing .launch-time div {
  color: #516d61;
}

body #introducing .launch-time div .circle {
  border: 1px solid #516d61;
  border-radius: 50%;
  width: 35px;
  line-height: 35px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  margin: 35px;
  margin-bottom: 10px;
}

@media (max-width: 699px) {
  body #introducing .launch-time div .circle {
    width: 32px;
    line-height: 32px;
    font-size: 16px;
    padding: 5px;
    margin: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 590px) {
  body #introducing .launch-time div .circle {
    padding: 2px;
    margin: 20px;
  }
}

@media (max-width: 425px) {
  body #introducing .launch-time div .circle {
    width: 30px;
    line-height: 30px;
    font-size: 13px;
    padding: 3px;
    margin: 15px;
    margin-bottom: 2px;
  }
}

body #introducing .launch-time div span {
  font-size: 15px;
  font-weight: 900;
}

@media (max-width: 699px) {
  body #introducing .launch-time div span {
    font-size: 12px;
  }
}

@media (max-width: 590px) {
  body #introducing .launch-time div span {
    font-size: 10px;
  }
}

@media (max-width: 425px) {
  body #introducing .launch-time div span {
    font-weight: 100;
    text-align: center;
  }
}

body #mc_embed_signup #mc-embedded-subscribe-form {
  /*  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row; */
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 30%;
  margin-right: 30%;
}

body #mc_embed_signup #mc-embedded-subscribe-form #mc-field-group {
  width: 400px;
}

body #mc_embed_signup #mc-embedded-subscribe-form .button {
  width: 400px;
}

@media (max-width: 768px) {
  body #mc_embed_signup #mc-embedded-subscribe-form #mc-field-group {
    width: 300px;
  }
  body #mc_embed_signup #mc-embedded-subscribe-form .button {
    margin-top: 2%;
    width: 300px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 699px) {
  body #mc_embed_signup #mc-embedded-subscribe-form #mc-field-group {
    width: 300px;
    margin: 0%;
  }
  body #mc_embed_signup #mc-embedded-subscribe-form .button {
    width: 300px;
  }
}

@media (max-width: 590px) {
  body #mc_embed_signup #mc-embedded-subscribe-form #mc-field-group {
    width: 250px;
    margin-right: 10%;
  }
  body #mc_embed_signup #mc-embedded-subscribe-form .button {
    width: 250px;
  }
}

@media (max-width: 425px) {
  body #mc_embed_signup #mc-embedded-subscribe-form {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
  }
  body #mc_embed_signup #mc-embedded-subscribe-form #mc-field-group {
    width: 200px;
  }
  body #mc_embed_signup #mc-embedded-subscribe-form .button {
    width: 200px;
  }
}

body .circ1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #bfd0c9;
  left: 0;
  right: 0;
  -webkit-clip-path: circle(14.4% at 4% 4%);
  clip-path: circle(14.4% at 4% 4%);
  z-index: -1;
  /* @include tablet2 {
            clip-path: circle(11.8% at 8% 0);
            background-color: #506C6190;
            z-index: 0;
        }
    
        @include phone {
            clip-path: circle(11.8% at 8% 0);
            background-color: #506C6190;
            z-index: 0;  
        }*/
}

body .circ2 {
  -webkit-clip-path: circle(14.4% at 97% 98%);
  clip-path: circle(14.4% at 97% 98%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #bfd0c9;
  left: 0;
  right: 0;
  z-index: -1;
  /* @include tablet2 {
            clip-path: circle(11.8% at 0 9%);
            
        }
    
        @include phone {
            clip-path: circle(11.8% at 0 9%);
        }*/
}

body .circ3 {
  -webkit-clip-path: circle(3.5% at 90% 14%);
  clip-path: circle(3.5% at 90% 14%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
  /*@include tablet2 {
            clip-path: circle(3.5% at 98% 98%);
            background-color: lighten($color: $green, $amount: 35%);
        }
    
        @include phone {
            clip-path: circle(3.5% at 98% 98%);
            background-color: lighten($color: $green, $amount: 35%);
        }*/
}

@media (max-width: 425px) {
  body .circ3 {
    -webkit-clip-path: circle(3.5% at 90% 10%);
    clip-path: circle(3.5% at 90% 10%);
  }
}

body .circ4 {
  -webkit-clip-path: circle(2% at 93% 22%);
  clip-path: circle(2% at 93% 22%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
  /*@include tablet2 {
            clip-path: circle(2.0% at 95% 91%);
            background-color: lighten($color: $green, $amount: 35%);
        }
    
        @include phone {
            clip-path: circle(2.0% at 95% 91%);
            background-color: lighten($color: $green, $amount: 35%);
        }*/
}

@media (max-width: 425px) {
  body .circ4 {
    -webkit-clip-path: circle(2% at 95% 14%);
    clip-path: circle(2% at 95% 14%);
  }
}

body .circ5 {
  -webkit-clip-path: circle(1% at 91% 26%);
  clip-path: circle(1% at 91% 26%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
  /* @include tablet2 {
            clip-path: circle(1.0% at 97% 87%);
            background-color: lighten($color: $green, $amount: 35%);
        }
    
        @include phone {
            clip-path: circle(1.0% at 97% 87%);
            background-color: lighten($color: $green, $amount: 35%);
        }*/
}

@media (max-width: 425px) {
  body .circ5 {
    -webkit-clip-path: circle(1% at 91% 16%);
    clip-path: circle(1% at 91% 16%);
  }
}

body .circ6 {
  -webkit-clip-path: circle(3.5% at 5% 90%);
  clip-path: circle(3.5% at 5% 90%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
  /* @include tablet2 {
            visibility: hidden;
        }
    
        @include phone {
            visibility: hidden;
        }*/
}

@media (max-width: 425px) {
  body .circ6 {
    -webkit-clip-path: circle(3.5% at 8% 90%);
    clip-path: circle(3.5% at 8% 90%);
  }
}

body .circ7 {
  -webkit-clip-path: circle(2% at 4% 80%);
  clip-path: circle(2% at 4% 80%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
  /* @include tablet2 {
            clip-path: circle(2.0% at 13% 21%);
        }
    
        @include phone {
            clip-path: circle(2.0% at 13% 21%);
        }*/
}

@media (max-width: 896px) {
  body .circ7 {
    -webkit-clip-path: circle(2% at 4% 82%);
    clip-path: circle(2% at 4% 82%);
  }
}

@media (max-width: 425px) {
  body .circ7 {
    -webkit-clip-path: circle(2% at 4% 85%);
    clip-path: circle(2% at 4% 85%);
  }
}

body .circ8 {
  -webkit-clip-path: circle(1% at 7% 79%);
  clip-path: circle(1% at 7% 79%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
  /*@include tablet2 {
            clip-path: circle(1.0% at 12% 25%);
        }
    
        @include phone {
            clip-path: circle(1.0% at 12% 25%);
        }*/
}

@media (max-width: 425px) {
  body .circ8 {
    -webkit-clip-path: circle(1% at 8% 83%);
    clip-path: circle(1% at 8% 83%);
  }
}

body .social {
  position: absolute;
  top: 555px;
  right: 10px;
  text-align: center;
}

body .social .fbIcon {
  width: 30%;
  height: 30%;
}

@media (max-width: 768px) {
  body .social {
    right: 5px;
    top: 570px;
  }
  body .social .fbIcon {
    width: 20%;
    height: 20%;
  }
}

@media (max-width: 590px) {
  body .social {
    right: 0px;
  }
}

@media (max-width: 425px) {
  body .social {
    left: 350px;
    top: 575px;
  }
}

/* form */

/*# sourceMappingURL=comingsoon.css.map */
