$bgc: #ffffff;
$orange: #df6f14;
$green: #516d61;

body {
    //font-family: 'Poppins' , sans-serif;
    background-color: $bgc;
    #introducing {
        padding: 65px 0;
        align-items: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;

        .launch {
            h1 {
                font-size: 23px;
                //padding: 0;
                margin-top: 30px;
                margin-bottom: 0;
                font-weight: 600;
            }
            
            p   {
                font-size: 14px;
               // font-style: italic;
                color: $green;
                font-weight: 500;
                margin: 30px 0px;
            }
        
        
        }



        .launch-time {
           display: flex;
           align-items: center;
           justify-content: center;

           div {
               color: $green;

               .circle {
                   border: 1px solid $green;
                   border-radius: 50%;
                   width: 35px;
                   line-height: 35px;
                   padding: 10px;
                   text-align: center;
                   font-size: 19px;
                   font-weight: 500;
                   margin: 35px;
                   margin-bottom: 10px;
                   //margin-bottom: 0;
               }

               span {
                   font-size: 15px;
                   font-weight: 900;
               } 
            }
        }
        
    }

}