body {
  background-color: #ffffff;
  margin: 0%;
}

body .logo {
  position: absolute;
  margin-top: 0%;
  margin-left: 2%;
  margin-bottom: 100%;
  margin-right: 80%;
}

body #introducing {
  padding-top: 50px;
  padding-bottom: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

body #introducing .launch h1 {
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 600;
}

body #introducing .launch p {
  font-size: 14px;
  font-style: italic;
  color: #516d61;
  font-weight: 500;
  margin: 30px 0px;
}

body #introducing .launch-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #introducing .launch-time div {
  color: #516d61;
}

body #introducing .launch-time div .circle {
  border: 1px solid #516d61;
  border-radius: 50%;
  width: 35px;
  line-height: 35px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  margin: 35px;
  margin-bottom: 10px;
}

body #introducing .launch-time div span {
  font-size: 15px;
  font-weight: 900;
}

body #mc_embed_signup {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 27%;
  margin-right: 30%;
  width: 650px;
}

@media (max-width: 768px) {
  body #mc_embed_signup {
    margin-top: 2%;
    width: 300px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 425px) {
  body #mc_embed_signup {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

body form .button {
  width: 400px;
}

body .circ1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #bfd0c9;
  left: 0;
  right: 0;
  -webkit-clip-path: circle(14.4% at 4% 4%);
          clip-path: circle(14.4% at 4% 4%);
  z-index: -1;
}

@media (max-width: 768px) {
  body .circ1 {
    -webkit-clip-path: circle(11.8% at 8% 0);
            clip-path: circle(11.8% at 8% 0);
    background-color: #506C6190;
    z-index: 0;
  }
}

@media (max-width: 425px) {
  body .circ1 {
    -webkit-clip-path: circle(11.8% at 8% 0);
            clip-path: circle(11.8% at 8% 0);
    background-color: #506C6190;
    z-index: 0;
  }
}

body .circ2 {
  -webkit-clip-path: circle(14.4% at 97% 98%);
          clip-path: circle(14.4% at 97% 98%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #bfd0c9;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body .circ2 {
    -webkit-clip-path: circle(11.8% at 0 9%);
            clip-path: circle(11.8% at 0 9%);
  }
}

@media (max-width: 425px) {
  body .circ2 {
    -webkit-clip-path: circle(11.8% at 0 9%);
            clip-path: circle(11.8% at 0 9%);
  }
}

body .circ3 {
  -webkit-clip-path: circle(3.5% at 90% 14%);
          clip-path: circle(3.5% at 90% 14%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body .circ3 {
    -webkit-clip-path: circle(3.5% at 98% 98%);
            clip-path: circle(3.5% at 98% 98%);
    background-color: #aec3ba;
  }
}

@media (max-width: 425px) {
  body .circ3 {
    -webkit-clip-path: circle(3.5% at 98% 98%);
            clip-path: circle(3.5% at 98% 98%);
    background-color: #aec3ba;
  }
}

body .circ4 {
  -webkit-clip-path: circle(2% at 93% 22%);
          clip-path: circle(2% at 93% 22%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body .circ4 {
    -webkit-clip-path: circle(2% at 95% 91%);
            clip-path: circle(2% at 95% 91%);
    background-color: #aec3ba;
  }
}

@media (max-width: 425px) {
  body .circ4 {
    -webkit-clip-path: circle(2% at 95% 91%);
            clip-path: circle(2% at 95% 91%);
    background-color: #aec3ba;
  }
}

body .circ5 {
  -webkit-clip-path: circle(1% at 91% 26%);
          clip-path: circle(1% at 91% 26%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body .circ5 {
    -webkit-clip-path: circle(1% at 97% 87%);
            clip-path: circle(1% at 97% 87%);
    background-color: #aec3ba;
  }
}

@media (max-width: 425px) {
  body .circ5 {
    -webkit-clip-path: circle(1% at 97% 87%);
            clip-path: circle(1% at 97% 87%);
    background-color: #aec3ba;
  }
}

body .circ6 {
  -webkit-clip-path: circle(3.5% at 5% 90%);
          clip-path: circle(3.5% at 5% 90%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body .circ6 {
    visibility: hidden;
  }
}

@media (max-width: 425px) {
  body .circ6 {
    visibility: hidden;
  }
}

body .circ7 {
  -webkit-clip-path: circle(2% at 4% 80%);
          clip-path: circle(2% at 4% 80%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #df6f14;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body .circ7 {
    -webkit-clip-path: circle(2% at 13% 21%);
            clip-path: circle(2% at 13% 21%);
  }
}

@media (max-width: 425px) {
  body .circ7 {
    -webkit-clip-path: circle(2% at 13% 21%);
            clip-path: circle(2% at 13% 21%);
  }
}

body .circ8 {
  -webkit-clip-path: circle(1% at 7% 79%);
          clip-path: circle(1% at 7% 79%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #516d61;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body .circ8 {
    -webkit-clip-path: circle(1% at 12% 25%);
            clip-path: circle(1% at 12% 25%);
  }
}

@media (max-width: 425px) {
  body .circ8 {
    -webkit-clip-path: circle(1% at 12% 25%);
            clip-path: circle(1% at 12% 25%);
  }
}
/*# sourceMappingURL=comingsoon.css.map */